
<% @conversation.each do |mess| %>
		<% if mess.sender_id == @partner.id %>
			<% mess.read = true %>
			<% mess.save! %>
			<div class="message-container group">
				<div class="incoming-message pull-left"> 							
					<%= render partial: "message", locals: {message: mess} %>
				</div>
			</div>
		<% else %>
			<div class="message-container group">
				<div class="outgoing-message pull-right"> 							
					<%= render partial: "message", locals: {message: mess} %>
				</div>
			</div>
		<% end %> 

<% end %> 
