<!-- requires a local for the user -->



<div class="small-stats-container">
	<ul>
		<li>
			<% if user.birthdate %>
				<% age = distance_of_time_in_words_to_now(user.birthdate) %>
				<% age = age[/[0-9][0-9]/]  %>
				<span class="profile-detail">Age:</span> <%= age %>
      <% end %>
    </li>
    <li>
        <span class="profile-detail">Sex:</span> <%= user.try(:sex) %>
		</li>
	</ul>
</div>
