<div class="profile-container">

	<section class="top-profile-container">
		<%= @user.username %> 
		<% if @user.profile_pic %> 
			<img src="<%= @user.profile_pic.image.url %>">
		<% else %> 
			<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTzokyVmgb8OiC4dVtoGcHXFAhvzyqm1TmDssGtKE-l0oYU66ut">
		<% end %> 
	</section>

	<nav class="profile-navbar">

	</nev> 

	<section class="bottom-profile-container">

	</section>

</div> <!-- profile-container -->

<%= render partial: "users/small_user", locals: {user: @user} %>