/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */


@import "bootstrap";


/* RESET */

html, body, header, footer, section, div, 
strong, a, img, p, h1, h2, h3, time, ul, li, small {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* ELEMENTS */

body {
	font-family: sans-serif;
	background: #E4E8F0;
	color: #333;
	font-size: 16px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #AD50AD;
}

a:hover {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

img {
	display: block;
}

/* CLEARFIX */

.group:after {
	content: "";
	display: table;
	clear: both;
}


/* INVISIBLE & DESTROY */


.invisible {
	visibility: hidden;
}

.destroyed {
	display: none;
}



/* HEADER */

.header {
	background: #0D244A;
}

.header-wrap {
	margin: auto;
	min-width: 700px;
}

.header-logo {
	float: left;
}

.header-logo > a {
	display: block;
	font-size: 28px;
	font-weight: bold;
	padding: 10px 20px;
	color: #fff;
	font-family: cursive;
	text-shadow: -1px 0 #E5B7EB, 0 1px #E5B7EB, 1px 0 #E5B7EB, 0 -1px #E5B7EB;
}

.header-nav {
	float: right;
	padding-top: 10px;
}

.header-nav > ul {
}

.header-nav > ul > li {
	float: left;
	border-left: 1px solid #4C4659;
}

.header-nav > ul > li > a {
	display: block;
	padding: 10px 20px;
	color: #fff
}

.header-nav > ul > li > a:hover {
	background: #E5B7EB
}



/* LAYOUT PAGE */

.content {
	margin: auto;
	width: 1200px;
	height: 1000px;
	margin-top: 20px
}

.content-sidebar {
	float: left;
	width: 250px;
	height: 800px;
	padding-left: 20px;
	padding-right: 10px;
	border-right: 1px solid #4C4659;
}

.signin-bar {
	margin-top: 120px;
}

.content-main {
	margin-top: 20px;
	width: 900px;
	float: right;
}


.hero-unit {
	margin: 200px 50px;
}

.main-menu {
	margin: auto;
	margin-top: 100px;
	padding-right: 10px;
}

.main-menu > .nav {
	background-color: #D2D2D4;
}

.main-menu > .nav > li > a {
	font-size: 20px;
	color: white;
}

.main-menu > .nav > li > a:hover {
	background-color: #E5B7EB;
}

/* CARROUSEL */
.carrousel-holder {
	position: relative;
}

#carrousel {
  position: relative;
  height: 225px;
  width: 225px;
  margin: auto;
  overflow: hidden;
  border: 1px solid black;
}

#carrousel > ul {
  left: 0px;
  top: 0;
  position: absolute;
  list-style: none;
}

#carrousel > ul:after {
  content: "";
  display: table;
  clear: both;
}

#carrousel > ul > li {
  float: left;
  width: 225px;
  height: 225px;
}



#carrousel-nav-next {
 	position: absolute;
 	left: 205px;
 	top: 0px;
 	background: white;
 	opacity: .40;
 	width: 20px;
 	height: 225px;
}

#carrousel-nav-next > {
  cursor: pointer;
}

#carrousel-nav-next:hover {
	background: blue;
	opacity: .20;
}

#photos-all-link {
	position: absolute;
 	left: 0px;
 	top: 0px;
 	width: 200px;
 	height: 225px;
	cursor: pointer;
}

.profile-head {

}

.user-picture {
	float: left;
}

.user-details {
	float: right;
	width: 200px;
	padding: 15px;
	margin-right: 375px;
	background-color: #E5B7EB;
	border-radius: 15px;
	border: 5px solid white;
}

#add-pics {
	float: left;
	width: 225px;
	padding-left: 50px;
}

.profile-message-form {
	float: right;
	position: relative;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 15px;
	background-color: #E5B7EB;
	border-radius: 15px;
	border: 5px solid white;
}

.profile-message-form > #new-message-form { 
	margin-right: 65px;
}

/* SIGNED IN */

.online-now {
	background: white;
	opacity: .75;
	color: grey;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	font-size: 18px;
}

/* USER INDEX */

.homepage {

}

.homepage > .home-header {

}

.homepage > .home-header > .page-title {
	font-family: cursive;
	font-size: 55px;
	text-decoration: bold;
	float: left;
}

.remaining-likes {
	border-radius: 10px;
	padding-left: 5px;
}

.remaining-likes > span {
	padding: 5px;
	font-size: 16px;
}

.photo-frame {
	width: 255px;
	background-color: #fff;
	box-shadow: 0px 9px 18px rgba(50, 50, 50, 1);
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
}

.user-frame > a {
	margin: auto;
	display: block;
	position: relative;
	width: 225px;
}

.user-frame .display-name {
	text-align: center;
	font-family: cursive;
	font-size:30px; 
}

.user-frame > a > img {
	height: 225px;
	width: 225px;
}

.user-frame .user-interactions {
	padding-bottom: 5px;
	padding-top: 5px;
	margin: auto;
}

.user-frame .user-interactions .total-likes {
	margin: auto;
}

.user-frame .user-interactions .like-action {
	float: left;
	margin-left: 60px;
}

.user-frame .user-interactions .shun-action {
	float: right;
	margin-right: 60px;
}

.photogrid-nav {
	width: 795px;
}

.photogrid-nav > #previous-6 {
	float: left;
} 

.photogrid-nav > #next-6 {
	float: right;
} 


/* NOTIFICATIONS */

.unread {
	background: #0D244A;
	color: white;
}



/* PROFILE */

.profile-body {
	margin-top: 100px;
	width: 800px;
}

/* MESSAGES */

.messages-main {
	width: 800px;
}

.message-snipet {

}

.message-snipet > .snipet-header {
	float: left;
	width: 150px;
	padding-right: 10px;
	border-right: 1px solid #BABABA;
}

.message-snipet > .snipet-preview {
	margin-left: 20px;
	float: left;
}

.message-snipet > .snipet-preview > a {
	display: block;
	width: 600px;
	height: 60px;
}



.convo-messages {
	width: 700px;
	margin: 5px;
	background-color: #E5B7EB;
	border-radius: 15px;
	border: 5px solid white;
}

.messages {

}


.messages > .message {

}


.messages > .message > header {

}

.messages > .message > .message-header > .message-form {
	width: 700px;
	margin: 5px;
	background-color: #E5B7EB;
	border-radius: 15px;
	border: 5px solid white;
}

#new-message-form {
	padding-top: 20px;
	padding-left: 150px;
	width: 390px;
}

.message-submit {

}

.message-submit-prompt {
	float: left;
	font-size: 20px;
	font-family: cursive;
}

.message-submit-button {
	float: right;
}

.single-message {
	padding-top: 15px;
}

.single-message-thumb > a > img {
	border: 2px solid white;

}

.single-message-info {

}

.single-message-header-right {
	float: right;
	padding-right: 25px;
	width: 70px;
}
.single-message-body-right {
	float: left;
	margin-right: 20px; 
}

.single-message-header-left {
	float: left;
	padding-left: 25px;
	width: 70px;
}

.single-message-body-left {
	float: right;
	padding-left: 10px;
}

.single-message-info {
	
}

.bubble-left {
position: relative;
padding: 25px;
background: #FFFFFF;
border: #7F7F7F solid 2px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble-left:after {
content: "";
position: absolute;
top: 20px;
left: -20px;
border-style: solid;
border-width: 10px 20px 10px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
}

.bubble-left:before {
content: "";
position: absolute;
top: 19px;
left: -23px;
border-style: solid;
border-width: 11px 21px 11px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
}

.bubble-right {
position: relative;
padding: 25px;
background: #FFFFFF;
border: #7F7F7F solid 2px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble-right:after {
content: "";
position: absolute;
top: 20px;
right: -20px;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
}

.bubble-right:before {
content: "";
position: absolute;
top: 19px;
left: 100%;
border-style: solid;
border-width: 11px 0 11px 21px;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
}




/* PROFILE SHOW */

.personal-essays-container {
	padding-left: 10px;
	padding-top: 20px;
}


.personal-essays-container h1 {
	font-weight: bold;
	font-family: cursive;
	font-size: 30px;
	padding-bottom: 2px;
	padding-top: 5px;
}

.personal-essays-container p {
	padding-bottom: 15px;
}


