/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */


@import "bootstrap";


/* RESET */

html, body, header, footer, section, div, 
strong, a, img, p, h1, h2, h3, time, ul, li, small {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* ELEMENTS */

body {
	font-family: sans-serif;
	background: #E4E8F0;
	color: #333;
	font-size: 16px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #00f;
}

a:hover {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

img {
	display: block;
}

/* CLEARFIX */

.group:after {
	content: "";
	display: table;
	clear: both;
}


/* INVISIBLE & DESTROY */


.invisible {
	visibility: hidden;
}

.destroyed {
	display: none;
}



/* HEADER */

.header {
	background: #0D244A;
}

.header-wrap {
	margin: auto;
	min-width: 700px;
}

.header-logo {
	float: left;
}

.header-logo > a {
	display: block;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 20px;
	color: #fff;
}

.header-nav {
	float: right;
}

.header-nav > ul {
}

.header-nav > ul > li {
	float: left;
	border-left: 1px solid #f99;
}

.header-nav > ul > li > a {
	display: block;
	padding: 10px 20px;
	color: #fff
}

.header-nav > ul > li > a:hover {
	background: #571C30
}



/* LAYOUT PAGE */

.content {
	margin: auto;
	width: 1100px;
}

.content-sidebar {
	float: left;
	width: 250px;
	padding-left: 20px;
	padding-top: 100px;
	margin-top: 20px;
	border-right: 1px solid #571C30;
}

.content-main {
	width: 800px;
	float: right;
}


/* CARROUSEL */
.carrousel-holder {
	position: relative;
}

#carrousel {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 100px auto 20px auto;
  overflow: hidden;
  border: 1px solid black;
}

#carrousel > ul {
  left: 0px;
  top: 0;
  position: absolute;
  list-style: none;
}

#carrousel > ul:after {
  content: "";
  display: table;
  clear: both;
}

#carrousel > ul > li {
  float: left;
  width: 250px;
  height: 250px;
}



#carrousel-nav-next {
 	position: absolute;
 	left: 230px;
 	top: 0px;
 	background: white;
 	opacity: .40;
 	width: 20px;
 	height: 250px;
}

#carrousel-nav-next > {
  cursor: pointer;
}

#carrousel-nav-next:hover {
	background: blue;
	opacity: .20;
}


/* SIGNED IN */

.online-now {
	background: white;
	opacity: .75;
	color: grey;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	font-size: 18px;
}

/* USER INDEX */

.user-frame > a {
	display: block;
	position: relative;
	width: 225px;
}

/* NOTIFICATIONS */

.unread {
	background: blue;
	color: white;
}

/* MAIN */

.hero-unit {
	margin-top: 200px;
}


/* PROFILE */

.profile-body {
	margin-top: 100px;
	width: 800px;
}

/* MESSAGES */

.messages {

}


.messages > .message {

}


.messages > .message > header {

}


.messages > .message > header > .message-thumb{
	float: left;
	padding: 10px;
}

.messages > .message > header > .message-form {
	float: right;
	padding: 10px;
}

/* PROFILE SHOW */

#about-me {

}

#about-me > h1 {
	font-weight: bold;
	font-size: 24px;
}

#about-my_match {

}

#about-my_match > h1 {
	font-weight: bold;
	font-size: 24px;
}


#dealbreakers {

}

#dealbreakers > h1 {
	font-weight: bold;
	font-size: 24px;
}
